/* Menu part */

header {
    width: 100%;
    background-color: black;
}

/* use flex to display the nav bar, and place the logo to left ,harburger in middle, the menu to right */
nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    margin: 12px;
    transition: all 0.2s ease;
    /* ease: cubic bezier curve */
}

/* the following css styling makes the page more attractive and beautiful  */

.navlist {
    margin: 0;
}

.navlist a {
    color: white;
    text-decoration: none;
    letter-spacing: 1pt;
    text-transform: uppercase;
}

.navlist li {
    margin-left: -5px;
    display: inline-block;
    /* makes parallel arrangement for the menu*/
    padding: 45px 3vw;
    transition: 0.3s ease;
}

#signin {
    color: #FF8C00;
}

#toggle,
#toggler {
    color: white;
    font-size: 30px;
    transition: 0.3s ease-out;
    display: none;
    /* hide the checkbox and the hamburger */
}

nav img:hover {
    transform: scale(1.1);
}

.navlist li:hover {
    background: #FF8C00;
}

#signin:hover {
    color: black;
}

#toggle:checked~label #toggler {
    transform: rotate(90deg);
    color: #FF8C00;
}

#loginform-container {
    display: none;
    /* hide the Sign in form */
}

#loginform {
    min-width: 65%;
    min-height: 60%;
    position: fixed;
    /* let the Sign in form can overlap the other elements*/
    top: 20%;
    left: 18%;
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 20px;
    text-align: center;
    z-index: 2;
    /* set the higher priority of Sign In form, to prevent other elements cover it */
}

/* the div contains submit button and cancel button, to make them parallel */
#loginform div {
    display: flex;
    justify-content: center;
}

#loginform h1 {
    color: #DC143C;
    text-transform: uppercase;
    font-weight: 550;
    padding: 10px;
}

#loginform input,
#loginform div input {
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #DC143C;
    color: white;
    outline: none;
    transition: all 0.2s ease-in-out;
}

#loginform input {
    margin: 20px auto;
    font-size: 11pt;
    border-radius: 8px;
    padding: 14px 10px;
    width: 200px;
}

#loginform input[type="text"]:focus,
#loginform input[type="password"]:focus {
    width: 260px;
    border-color: rgb(37, 207, 168);
}

#loginform div input {
    margin: 20px 4vw;
    border-radius: 24px;
    padding: 8px 8px;
    width: 100px;
}

#loginform div input:hover {
    border-color: rgb(37, 207, 168);
}

/***break point 1, change the menu to hamburger menu to prevent text overlap ******/
@media only screen and (max-width: 694px) {

    #toggler {
        /* show the hamburger */
        display: block;
        margin: 20px;
    }

    .navlist {
        /* hide the menu */
        display: none;
        position: absolute;
        right: 0;
        top: 112px;
        background-color: rgba(0, 0, 0, 0.93);
        padding: 0;
        z-index: 3;
        /* set the highest priority of menu, to prevent other elements cover it */
    }

    .navlist li {
        /* make the list upright */
        margin: 0;
        display: block;
        width: 150px;
        height: 25px;
        text-align: center;
        padding: 30px;
    }

    #toggle:checked~.navlist {
        /* when user click the hamburger, the list will show up */
        display: block;
    }
}